.main-container {
  max-width: 1550px;
}
.header {
  .logo-block {
    padding: 12px 0;
    a {
      width: 180px;
      height: 50px;
    }
  }
  .menu-block {
    ul {
      .menu-block_list {
        a {
          font-size: 1rem;
          letter-spacing: 0.96px;
          color: $menu-color;
        }
        &:not(.sing-up_list) {
          a {
            padding: 6px 0;
            position: relative;
            &:after {
              position: absolute;
              content: "";
              width: 0;
              left: 0;
              bottom: 0;
              height: 4px;
              background-color: $button-color;
              @include transition-mixin($style:width);
            }
            &:hover:after,&.active:after {
              width: 100%;
            }
          }

        }
        &:not(:last-child) {
          margin-right: 38px;
        }
        &.sing-up_list {
          a {
            padding: 0 42px;
            background-color: #02BFDB;
            @include transition-mixin($style:background-color);
            &:hover {
              background-color: $button-color;
            }
          }
        }
      }
    }

  }
  .menu-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $button-color;
    height: 34px;
    width: 40px;
    cursor: pointer;
    z-index: 9999;
    display: none;
    right: 15px;
    span {
      position: absolute;
      height: 3px;
      width: 25px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include transition-mixin($style: transform);
      &:before,&:after  {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 3px;
        width: 25px;
        transition: transform 0.3s;
      }
      &:after {
        top: 8px;
      }
      &:before {
        top: -8px;
      }
    }
    &.active {
      color: $button-color;
      span {
        background-color: transparent;
        &:before {
          @include transform-rotate(45deg);
          top: 0;
        }
        &:after {
          @include transform-rotate(-45deg);
          top: 0;
        }
      }
    }
  }
}
.main {
  .start-learn_block {
    background: url('../images/graffiti.jpg') center center/cover no-repeat;
    &-left {
      width: 60%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255,255,255,.83);
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 25%;
        right: -24.97%;
        top: 0;
        bottom: 0;
        background-color: rgba(255,255,255,.83);
        clip-path: polygon(0 0, 0% 100%, 70% 100%);
      }
    }
    &-text {
      padding: 13% 0;
      max-width: 40%;
      position: relative;
      h2 {
        font-size: 3.75rem;
        line-height: 80px;
        margin-bottom: 77px;
      }
      .get-started {
        font-size: 1.5625rem;
        padding: 12px 44px;
        @include border-radius(6px);
      }
    }
  }
  .featured-courses_block {
    background: url("../images/planet.png") center right/20% no-repeat;
    padding: 140px 0;
    .featured-courses_text {
      max-width: 735px;
      margin-bottom: 77px;
      .featured-courses_block-title {
        font-size: 3.125rem;
        margin-bottom: 30px;
        letter-spacing: 1.5px;
      }
      p {
        letter-spacing: 0.48px;
        line-height: 25px;
      }
    }

    .featured-courses_slider {
      position: relative;
      max-width: 1200px;
      margin-bottom: 65px;
      &-item {
        color: $text-color;
        position: reative;
        &:hover {
          .course-image  {
            background-size: 110% 110%;
          }
        }
        .course-image {
          height: 200px;
          background-size: 100% 100%;
          background-position: center;
          @include border-top-left-radius(6px);
          @include border-top-right-radius(6px);
          overflow: hidden;
          positiona: absoute;
          top: 0;
          left: 0;
          right: 0;
          @include transition-mixin($style: background-size);
        }
        .course-info {
          padding: 15px 17px;
          border: 1px solid #D0D0D0;
          height: calc(100% - 200px);
          padding-bottom: 65px;
          position: relative;
          @include border-bottom-left-radius(6px);
          @include border-bottom-right-radius(6px);
          p {
            font-size: 13px;
            letter-spacing: 0.39px;
            line-height: 18px;

          }
          .teacher-info {
            img {
              width: 30px;
              height: 30px;
              margin-right: 9px;
              @include border-radius(50%);
              overflow: hidden;
            }
            h6 {
              font-family:'DroidSans',sans-serif;
            }
          }
          .course-price {
            position: absolute;
            left: 17px;
            right: 17px;
            bottom: 20px;
          }
          .price {
            &-old {
              font-size: 1.125rem;
              color: #8B8B8B;
              letter-spacing: 0.54px;
            }
            &-new {
              font-size: 1.75rem;
              color: #D35135;
              letter-spacing: 0.84px;
            }
          }
        }
      }
      .slick-track {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        min-height: 350px;
        padding-bottom: 10px;
        .slick-slide{
          height: inherit;
          .featured-courses_slider-item {
            height: 100%;
            box-shadow: 0 8px 6px -6px #D0D0D0;
          }
        }
      }
      .slick-arrow {
        position: absolute;
        top: auto;
        bottom: -50px;
        border: 1px solid $button-color;
        @include border-radius(0);
        background-color: $button-color;
        height: 35px;
        width: 35px;
        i {
          font-size: 13px;
          color: $white;
        }
        &.prev {
          right: 60px;
        }
         &.next {
          right: 15px;
        }
        &.slick-disabled {
          background-color: $white;
          i {
            color: $button-color;
          }
        }
      }

    }
    .all-courses{
      padding: 10px 40px;
    }
  }
  .articles-block {
    &_top {
      background-color: #FAFAFA;
      padding: 50px 0;
      &-inner {
        width: 50%;
        margin-left: auto;
        padding-right: 10%;
        .articles-title {
          margin-bottom: 12px;
        }
        .articles-text {
          margin-bottom: 40px;
        }
        .read-more {
          padding: 10px 40px;
        }
      }
    }
    &_bottom {
      padding: 100px 0 76px 0;
      .article {
        .article-img {
          height: 337px;
          background-size: cover;
          background-position: center;
          margin-bottom: 28px;
          border-right: 8px solid $button-color;
          @include transition-mixin($style: border-color);
          position: relative;
          overflow: hidden;
          .article_reade-more {
            background-color: rgba(189,213,49,.76);
            position: absolute;
            right: -120px;
            top: 0;
            bottom: 0;
            @include transition-mixin($style: right);
            a {
              color: $white;
              margin-top: auto;
              padding: 20px 12px 20px 20px;
              @include transition-mixin($style: opacify);
              &:hover {
                opacity: .7;
              }
            }
          }
        }
        .article-title {
          font-size: 1.125rem;
          letter-spacing: 0.54px;
          line-height: 25px;
        }
        p {
          letter-spacing: 0.48px;
        }
        &:hover {
          .article-img {
            border-color: rgba(189,213,49,.76);
            .article_reade-more {
              right: 0;
            }
          }

        }

      }
      .row > div {
        &:first-child .article{
          max-width: 330px;
          margin-top: -320px;
          .article-img {
            height: 330px;
          }
        }
        &:nth-child(2) .article{
          max-width: 273px;
          margin-top: -320px;
          .article-img {
            height: 303px;
          }
        }
      }
    }
  }
  .questions_block{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url('../images/triangle.png') top left/auto no-repeat,url('../images/body-painting.png') top right/auto no-repeat;
    &-inner {
      max-width: 950px;
      padding-left: 200px;
    }
    .section-title {
      margin-bottom: 40px;
    }
    .question-collapse {
      &_button {
        width: 100%;
        color: $text-color;
        font-size: 1.125rem;
        padding: 20px 0;
        border-bottom: 1px solid #B2B2B2;
        @include border-radius(0);
        p {
          text-align: left;
          margin-bottom: 0;
          width: calc(100% - 50px);
        }
        &.collapsed {
          i {
              &:before {
              content: "\f067";
            }
          }
        }
         .fa-stack {
            width: 30px;
            height: 30px;
            border: 1px solid $button-color;
            i {
              color: $button-color;
            }
          }
          &:hover {
            .fa-stack {
              background-color: $button-color;
               i {
                color: $white;
              }
            }
          }
      }
    }
  }
  .comments-block {
    padding-top: 40px;
    padding-bottom: 100px;
    &,p {
      color: $black;
    }
    .comments-title {
      margin-bottom: 64px;
    }
    &_item {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      &-img {
        width: 26%;
        height: 170px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 10px 6px -8px #D0D0D0;
      }
      &-text {
        width: 74%;
        padding-left: 58px;
        .student-name{
          font-size: 1.5625rem;
          letter-spacing: 0.75px;
        }
        .student-profession {
          font-family:'DroidSans',sans-serif;
          font-weight: normal;
          margin-bottom: 30px;
        }
        .student-profession,p {
          letter-spacing: 0.48px;
          line-height: 25px;
        }

      }
    }
    .col-md-6 {
      padding: 0 60px 30px 90px;
      &:nth-child(even) {
        padding-top: 220px;
      }
    }
    &_right {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 1px;
        top: 100px;
        left: 0;
        bottom: 0;
        background-color: #C3C3C3;
      }
    }
    .comments-block_left{
      .comments-block_item:nth-child(3n+1) {
        .comment {
          position: relative;
          &:after,&:before {
            position: absolute;
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid #C3C3C3;
            right: -69px;
            background-color: $white;
            z-index: 1;
          }
          &:after {
            top: 0;
          }
          &:before {
            bottom: 0;
          }
        }
      }
    }
    .comments-block_right{
      .comments-block_item:nth-child(3n+2) {
        .comments-block_item-img {
          position: relative;
          &:after,&:before {
            position: absolute;
            content: "";
            left: -97px;
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid #C3C3C3;
            background-color: $white;
            z-index: 1;

          }
          &:after {
            top: 0;
          }
          &:before {
            bottom: 0;
          }
        }

      }
    }
  }
}
.footer {
  &,a,button,p {
    color: $white;
  }
  a,button {
    @include transition-mixin($style: opacity);
          &:hover {
            opacity: .7;
          }
  }
  &_top {
    background-color: #333333;
    padding: 50px 0;
    .footer_logo-block {
      width: 150px;
      height: 50px;
      margin: 0 auto 40px auto;
    }
    .join-button {
      position: relative;
      letter-spacing: 0.96px;
      margin-bottom: 34px;
      &:hover {
        color: $white;
      }
      &:after {
        position: absolute;
        content: '';
        height: 1px;
        background-color: $white;
        opacity: .29;
        left: 0;
        right: 0;
        top: -25px;
      }
    }
  }
  &_menu-block {
    margin-bottom: 60px;
    .menu_list {
      &-item {
        letter-spacing: 0.96px;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
  .social_list {
    &-item {
      a {
        display: block;
        width: 35px;
        height: 35px;
        background-color: $text-color;
        @include border-radius(3px);
        @include transition-mixin($style: background-color);
        &:hover {
          background-color: $button-color;
          opacity: 1;
        }
        i {
          font-size: 14px;
        }
      }
    }
  }
  &_bottom {
    background-color: $text-color;
    padding: 7px 0;
    font-size: 14px;
    .copyright {
      color: $button-color;
    }
    p {
      margin-bottom: 0;
    }
    .main-container {
      padding: 0 12%;
    }
  }
}
@media only screen and (min-width: 767px) {
  header {
    .menu-block {
      ul {
        height: 100%;
        .sing-up_list {
          &,a {
            height: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .main .start-learn_block {
    &-text {
      max-width: 60%;
    }
  }
}
@media only screen and (max-width: 1300px) {
  .main {
    .comments-block {
      &_item {
        &-img {
          width: 40%;
        }
        &-text {
          width: 60%;
          padding-left: 30px;
        }
      }
      &_left {
        padding-left: 40px!important;
      }
      &_right {
        padding-right: 40px!important;
        padding-left: 40px!important;
        .comments-block_item:nth-child(3n+2) {
          .comments-block_item-img {
            &:before,&:after {
              left: -48px!important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1170px) {
  .main {
    .start-learn_block {
      &-left:after {
        right: -24.94%;
        clip-path: polygon(0 0, 0% 100%, 90% 100%);
      }
    }
    .questions_block {
      background-image: url('../images/triangle.png');
      &-inner {
        max-width: 80%;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;

      }
    }
    .articles-block_bottom .row > div{
      &:first-child .article .article-img {
        height: 250px;
      }
      &:nth-child(2) .article .article-img {
        height: 200px;
      }
      .article .article-img {
        height: 250px;
      }
    }
  }

}
@media only screen and (max-width: 1024px) {
  .header {
    .logo-block {
      padding: 9px 0;
      a {
        width: 160px;
        height: 44px;
      }
    }
    .menu-block {
      ul {
        .menu-block_list {
          &:not(:last-child) {
            margin-right: 30px;
          }
          &.sing-up_list {
            a {
              padding: 0 24px;
              &:hover {
            background-color: transparent;
          }
            }

          }
        }
      }

    }
  }
  .main {
    .start-learn_block-text {
      max-width: 56%;
      padding: 9% 0;
      h2 {
        font-size: 54px;
        margin-bottom: 50px;
      }
      .get-started {
        padding: 9px 38px;
      }
    }
    .featured-courses_block {
      padding: 90px 0;
    }
    .articles-block_bottom {
      padding-bottom: 50px;
    }
    .questions_block{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .comments-block {
      padding-bottom: 70px;
      &_item {
        &-text {
          padding-left: 20px;
        }
      }
      .col-md-6 {
        padding: 0 15px 30px 15px!important;
        &:nth-child(even) {
          padding-top: 150px!important;
        }
      }
      &_left {
        .comments-block_item:nth-child(3n+1) {
          .comment {
            &:before,&:after {
              right: -23px!important;
            }
          }
        }
      }
      &_right {
        .comments-block_item:nth-child(3n+2) {
          .comments-block_item-img {
            &:before,&:after {
              left: -23px!important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  h3,.section-title,
  .main .featured-courses_block .featured-courses_text .featured-courses_block-title {
    font-size: 36px;
  }
  .header {
    position: relative;
    .menu-mobile {
      display: block;
    }
    .menu-block {
      display: none;
      .menu-block_list {
        margin-right: 0!important;
      }
      &.active {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
        z-index: 1;
        padding: 50px 0;
        overflow: auto;
        .menu-block_list {
          padding: 10px 15px;
          text-align: center;

          a {
            display: block;
            &.active {
              color: $button-color;
            }
            &:after {
              display: none;
            }
          }
          &.sing-up_list {
            a {
              padding: 0;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .main {
    .start-learn_block-text {
      max-width: 100%;
    }
    .start-learn_block-left {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.65);
      &:after {
          display: none;
      }
    }
    .questions_block-inner {
        max-width: 100%;
    }
    .articles-block_top-inner {
      width: 100%;
      padding-right: 0;
    }
    .articles-block_bottom .row > div {
      &:first-child,&:nth-child(2) {
        .article {
          margin-top: 0;
          max-width: 100%;
          .article-img {
            height: 300px;
          }
        }
      }
      .article {
        .article-img {
          height: 300px;
          border-right: 0;
          .article_reade-more {
            left: 0;
            top: auto;
          }
        }
      }
    }
   .comments-block {
    .comments-block_item-text {
      width: 100%;
      padding-left: 0;
    }
     .comments-block_left,.comments-block_right {
       .comments-block_item {
          .comment,.comments-block_item-img {
           &:after,&:before {
             display: none!important;
           }
         }
         &-img {
           width: 100%;
         }
         .comments-block_item-img {
           height: 300px;
           margin-bottom: 30px;
         }
       }
     }
     &_right:after {
       display: none;
     }
     .col-md-6:nth-child(even) {
       padding-top: 0!important;
     }
   }
   text-align: center;
  }
  footer {
    text-align: center;
  }
}
@media only screen and (max-width: 560px) { 
    .main {
      .start-learn_block-text {
        padding: 60px 0;
        h2 {
            font-size: 46px;
            line-height: 60px;
          }
        }
      }
}
@media only screen and (max-width: 480px) { 
   h3,.section-title,
  .main .featured-courses_block .featured-courses_text .featured-courses_block-title {
    font-size: 32px;
  }
    .main-btn {
      width: 100%;
    }
     .main {
      .start-learn_block-text {
        .get-started {
          padding: 10px 20px;
          font-size: 18px;
        }
        h2 {
          font-size: 38px;
        }
       }
       .questions_block .question-collapse_button p {
        width: calc(100% - 45px);
       }
      }
}