<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="email=no">
	<title>Learning</title>
	<!--<link rel="icon" href="{{url('/images/favicon.png')}}" sizes="16x16"/>-->
	<!--<link rel="shortcut icon" href="{{url('/images/favicon.ico')}}" sizes="16x16"/>-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{url('/images/apple-touch-57.png')}}">-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url('/images/apple-touch-72.png')}}">-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url('/images/apple-touch-114.png')}}">-->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="sass/app.css">
</head>
<body>

    <header class="header">
		<div class="container main-container d-md-flex  justify-content-md-between align-items-md-stretch">
			<div class="logo-block">
				<a href="#" class="d-block logo-block_link"><img src="images/logo.png" alt="logo"></a>
			</div>
			<nav class="menu-block">
				<ul class="list-unstyled d-md-flex align-items-md-center">
					<li class="menu-block_list text-capitalize d-md-inline-block"><a href="#" class="active">Home</a></li>
					<li class="menu-block_list text-capitalize d-md-inline-block"><a href="#">Courses</a></li>
					<li class="menu-block_list text-capitalize d-md-inline-block"><a href="#">Blog</a></li>
					<li class="menu-block_list text-capitalize d-md-inline-block active"><a href="#">Forum</a></li>
					<li class="menu-block_list text-capitalize d-md-inline-block"><a href="#">Contact Us</a></li>
					<li class="menu-block_list d-md-inline-block sing-up_list"><a href="#" class="d-md-flex align-items-md-center">Sign up</a></li>
				</ul>
			</nav>
			<div class="menu-mobile">
				<span></span>
			</div>
		</div>
    </header>
    <main class="main">
    	<div class="start-learn_block position-relative">
    		<div class="start-learn_block-left">
    		</div>
			<div class="container main-container">
				<div class="start-learn_block-text">
					<h2>For every student, every classroom. Real results.</h2>
					<button class="btn get-started main-btn" type="button">Get Started</button>
				</div>	
				
			</div>
    	</div>
    	<div class="featured-courses_block">
    		<div class="container main-container">
    			<div class="featured-courses_text">
					<h3 class="featured-courses_block-title">Featured Courses</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    			</div>
			
				<div class="row featured-courses_slider ">
					<div class="col">
						<a class="featured-courses_slider-item d-block">
							<div class="course-image" style="background-image: url('images/temp/bicycle.png')"></div>
							<div class="course-info">
								<h5>Courses name</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
								<div class="course-price d-flex justify-content-between">
									<div class="teacher-info d-flex align-items-center">
										<img src="images/temp/teachr.png">
										<h6 class="mb-0">Artur Laran</h6>
									</div>
									<div class="price">
										<span class="price-old"><del>$57</del></span>
										<span class="price-new">$57</span>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col align-self-stretch">
						<a class="featured-courses_slider-item d-block">
							<div class="course-image" style="background-image: url('images/temp/fantasy.png')"></div>
							<div class="course-info">
								<h5>Courses name</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
								<div class="course-price d-flex justify-content-between">
									<div class="teacher-info d-flex align-items-center">
										<img src="images/temp/teachr.png">
										<h6 class="mb-0">Artur Laran</h6>
									</div>
									<div class="price">
										<span class="price-new">$57</span>
									</div>
								</div>
							</div>
						</a>
					</div>
						<div class="col align-self-stretch">
						<a class="featured-courses_slider-item d-block">
							<div class="course-image" style="background-image: url('images/temp/graffiti.png')"></div>
							<div class="course-info">
								<h5>Courses name</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
								<div class="course-price d-flex justify-content-between">
									<div class="teacher-info d-flex align-items-center">
										<img src="images/temp/teachr.png">
										<h6 class="mb-0">Artur Laran</h6>
									</div>
									<div class="price">
										<span class="price-new">$57</span>
									</div>
								</div>
							</div>
						</a>
					</div>
						<div class="col align-self-stretch">
						<a class="featured-courses_slider-item d-block">
							<div class="course-image" style="background-image: url('images/temp/bicycle.png')"></div>
							<div class="course-info">
								<h5>Courses name</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
								<div class="course-price d-flex justify-content-between">
									<div class="teacher-info d-flex align-items-center">
										<img src="images/temp/teachr.png">
										<h6 class="mb-0">Artur Laran</h6>
									</div>
									<div class="price">
										<span class="price-new">$57</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<a href="#" class="btn all-courses main-btn">View all courses</a>
			</div>
    	</div>
    	<div class="articles-block">
    		<div class="articles-block_top">
    			<div class="container main-container">
					<div class="articles-block_top-inner">
						<h3 class="section-title articles-title">Articles</h3>
						<p class="articles-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
						<a href="#" class="btn read-more main-btn">Read more</a>
					</div>
    			</div>
    		</div>
			<div class="articles-block_bottom">
				<div class="container main-container">
					<div class="row">
						<div class="col-md-3">
							<div class="article">
								<div class="article-img" style="background-image: url('images/temp/deer.png')">
									<div class="article_reade-more d-flex">
										<a href="#">Read more</a>
									</div>
								</div>
								<h5 class="article-title">Lorem ipsum dolor sit amet, consectetur </h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="article">
								<div class="article-img" style="background-image: url('images/temp/brush.png')">
									<div class="article_reade-more d-flex">
										<a href="#">Read more</a>
									</div>
								</div>
								<h5 class="article-title">Lorem ipsum dolor sit amet, consectetur </h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="article">
								<div class="article-img" style="background-image: url('images/temp/girl.png')">
									<div class="article_reade-more d-flex">
										<a href="#">Read more</a>
									</div>
								</div>
								<h5 class="article-title">Lorem ipsum dolor sit amet, consectetur </h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="article">
								<div class="article-img" style="background-image: url('images/temp/girl.png')">
									<div class="article_reade-more d-flex">
										<a href="#">Read more</a>
									</div>
								</div>
								<h5 class="article-title">Lorem ipsum dolor sit amet, consectetur </h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							</div>
						</div>
					</div>
				</div>

			</div>
    	</div>
    	<div class="questions_block">
    		<div class="container main-container">
				<div class="questions_block-inner">
					<h3 class="section-title">Asked questions</h3>
					<div id='accordion' class="question-collapse">
						<div class="accordion">
							<div class="" id="headingOne">
								<h2 class="mb-0">
									<button class="d-flex align-items-center justify-content-between btn collapsed question-collapse_button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
										<span class="fa-stack d-flex align-items-center justify-content-center">
							<i class="fa fa-minus"></i>
						  </span>
									</button>
								</h2>
							</div>
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</div>
							</div>
						</div>
						<div class="accordion">
							<div class="" id="headingTwo">
								<h2 class="mb-0">
									<button class="d-flex align-items-center justify-content-between btn collapsed question-collapse_button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
										<span class="fa-stack d-flex align-items-center justify-content-center">
							<i class="fa fa-minus"></i>
						  </span>
									</button>
								</h2>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</div>
							</div>
						</div>
						<div class="accordion">
							<div class="" id="headingThree">
								<h2 class="mb-0">
									<button class="d-flex align-items-center justify-content-between btn collapsed question-collapse_button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
										<span class="fa-stack d-flex align-items-center justify-content-center">
							<i class="fa fa-minus"></i>
						  </span>
									</button>
								</h2>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
								<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</div>
							</div>
						</div>
						<div class="accordion">
							<div class="" id="headingFour">
								<h2 class="mb-0">
									<button class="d-flex align-items-center justify-content-between btn collapsed question-collapse_button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
										<span class="fa-stack d-flex align-items-center justify-content-center">
							<i class="fa fa-minus"></i>
						  </span>
									</button>
								</h2>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</div>
							</div>
						</div>
						<div class="accordion">
							<div class="" id="headingFive">
								<h2 class="mb-0">
									<button class="d-flex align-items-center justify-content-between btn collapsed question-collapse_button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
										<span class="fa-stack d-flex align-items-center justify-content-center">
							<i class="fa fa-minus"></i>
						  </span>
									</button>
								</h2>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</div>
							</div>
						</div>
					</div>
				</div>

    		</div>
		</div>
		<div class="comments-block">
			<div class="container main-container">
				<h3 class="section-title comments-title text-center">What students say</h3>
				<div class="row">
					<div class="col-md-6 comments-block_left">
						<div class="comments-block_item d-md-flex justify-content-between">
							<div class="comments-block_item-img" style="background-image: url('images/temp/student1.png')"></div>
							<div class="comments-block_item-text">
								<h5 class="student-name">Temmy Corsw</h5>
								<h6 class="student-profession">Photograph</h6>
								<p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
						<div class="comments-block_item d-md-flex justify-content-between">
							<div class="comments-block_item-img" style="background-image: url('images/temp/student2.png')"></div>
							<div class="comments-block_item-text">
								<h5 class="student-name">Temmy Corsw</h5>
								<h6 class="student-profession">Photograph</h6>
								<p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 comments-block_right">
						<div class="comments-block_item d-md-flex justify-content-between">
							<div class="comments-block_item-img" style="background-image: url('images/temp/student3.png')"></div>
							<div class="comments-block_item-text">
								<h5 class="student-name">Temmy Corsw</h5>
								<h6 class="student-profession">Photograph</h6>
								<p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
						<div class="comments-block_item d-md-flex justify-content-between">
							<div class="comments-block_item-img" style="background-image: url('images/temp/student1.png')"></div>
							<div class="comments-block_item-text">
								<h5 class="student-name">Temmy Corsw</h5>
								<h6 class="student-profession">Photograph</h6>
								<p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<i class="fa fa-square-full"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </main>
    <footer class="footer">
    	<div class="footer_top">
			<div class="container main-container text-center">
				<div class="footer_logo-block ">
					<a href="#" class="d-block logo-block_link"><img src="images/logo2.png" alt="logo"></a>
				</div>
				<div class="footer_menu-block">
					<ul class="list-unstyled menu_list">
						<li class="menu_list-item d-inline-block"><a href="#">Home</a></li>
						<li class="menu_list-item d-inline-block"><a href="#">Courses</a></li>
						<li class="menu_list-item d-inline-block"><a href="#">Blog</a></li>
						<li class="menu_list-item d-inline-block"><a href="#">Forum</a></li>
						<li class="menu_list-item d-inline-block"><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<button class="btn join-button" type="button">Join Us</button>
				<div class="social-block">
					<ul class="list-unstyled social_list">
						<li class="social_list-item d-inline-block"><a href="#" target="_blank" class="d-flex  justify-content-center align-items-center"><i class="fa fa-facebook-f"></i></a></li>
						<li class="social_list-item d-inline-block"><a href="#" target="_blank" class="d-flex  justify-content-center align-items-center"><i class="fa fa-twitter"></i></a></li>
						<li class="social_list-item d-inline-block"><a href="#" target="_blank" class="d-flex  justify-content-center align-items-center"><i class="fa fa-google-plus"></i></a></li>
						<li class="social_list-item d-inline-block"><a href="#" target="_blank" class="d-flex  justify-content-center align-items-center"><i class="fa fa-pinterest-p"></i></a></li>
						<li class="social_list-item d-inline-block"><a href="#" target="_blank" class="d-flex  justify-content-center align-items-center"><i class="fa fa-instagram"></i></a></li>
						<li class="social_list-item d-inline-block"><a href="#" target="_blank" class="d-flex  justify-content-center align-items-center"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

    	</div>
    	<div class="footer_bottom">
    		<div class="container main-container d-md-flex justify-content-between">
    			<p>All copyright reserved @2020 - Design & Development by <a href="" target="_blank"  class="copyright">AIST</a></p>
    		<p>Terms & Conditions Privacy</p>
    		</div>
    		
    	</div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
